<html>
    <head>
        <meta name="http-status" content="{{status}}">
        <link rel="canonical" href="{{url}}" />
        <title>{{title}}</title>
        <meta name="author" content="{{authors | join(', ')}}">
        <meta name="summary" content="{{summary}}">
        <meta name="date" content="{{date}}">
        <meta name="language" content="{{language}}">
        <meta name="native_ad" content="{{native_ad ? 'yes': 'no'}}">
        <meta name="image" content="{{image}}">
    </head>
    <body>
        {{html | raw}}
    </body>
</html>
