<html>
    <head>
        <link rel="canonical" href="{{url}}" />
        <title>{{title}}</title>
    </head>
    <body>
        <p><b>Url: </b>{{url}}</p>
        <p><b>HTTP status: </b>{{status}}</p>
        <p><b>Author: </b>{{authors | join(', ')}}</p>
        <p><b>Summary: </b>{{summary | raw}}</p>
        <p><b>Date: </b>{{date}}</p>
        <p><b>Language: </b>{{language}}</p>
        <p><b>Native ad: </b>{{native_ad ? 'yes': 'no'}}</p>
        <p><b>Image: </b>{{image}}</p>
        <img src="{{image}}" />
        <h1>{{title}}</h1>
        {{html | raw}}
    </body>
</html>
